<h1>Reports#Show</h1>

Description: <%= @report.desc %>     <br>
Temp:        <%= @report.temp %>     <br>
Location:    <%= @report.loc %>      <br>
Humidity:    <%= @report.humidity %> <br>

<br>

<p><a href="/reports/<%= @report.id %>/edit">Edit</a></p>
